{% extends "base.html" %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<!-- Book detail card -->
<div class="masthead">
    <div class="container pic-padding">
        <div class="row">
            <div class="col-md-6 masthead-text">
                <h1 class="book-title">{{ book.book_title }}</h1>
                <h3 class="book-subtitle">{{ book.writer }}</h>
        <div class="col book-author">
            <div class="col col-author">
                <p class="author">{{ book.author }} | {{ book.created_on }}</p>
            </div>
            <div class="col ">
            <!-- Delete Book -->
                {% if book.author == request.user%}
                <span>
                    <a href="{% url 'book_delete' book.slug %}" class="delete small-icon"
                    aria-label="Click to delete a Book">
                    <i class="far fa-trash-alt fa-1x"></i></a>
                  </span>
            <!-- Edit Book -->
                  <span>
                    <a href="{% url 'book_edit' book.id %}" class="edit small-icon" aria-label="Click to edit book">
                    <i class="far fa-edit fa-1x"></i></a>
                   </span>
                   {% endif %}
                </div>
            </div>
        </div>

            <div class="col-md-6 masthead-image">
                {% if "placeholder" in book.featured_image.url %}
                <img class="border border-light book-detail-pic card-img-top">
                {% else %}
                <img class="border border-light book-detail-pic" src=" {{ book.featured_image.url }}" alt="book's cover">
                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <p class="card-text ">
                    {{ book.review | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'book_like' book.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="bookpost_id" value="{{book.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="bookpost_id" value="{{book.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        
                        <span class="text-secondary">{{ book.number_of_likes }} </span>
                        </strong>                       
                    </div>
                    <div class="col-1">
                        {% with reviews.count as total_reviews %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_reviews }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Reviews:</h3>
            <div class="card-body">
                {% for review in reviews %}
                <div class="reviews" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ review.name }}
                        <span class=" card-text font-weight-normal">
                            {{ review.created_on }}
                        </span> wrote:
                    </p>
                    {{ review.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}

                <h3>Leave a review:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
                {% endif %}
    
            </div>
        </div>
    </div>
</div>

{% endblock content %}