{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row">
        </div>
        <h1 class="tag-line">
            Welcome to Librum Amatis!
        </h1>
        <!-- Hero Image-->
        <div class="col-md-10 offset-md-1">
            <img class="img-fluid hero-image border border-light"
                src="https://res.cloudinary.com/dqwmxwpay/image/upload/v1674317409/hero-image_1_ac6les.jpg" 
                alt="An open book">
        </div>
        <div class="col-12">
            <!-- About section -->
            <p>Here on Librum Amatis you can have a look of the books that I love the most with reviews.
                Other users have been doing the same. 
            </p>
            <p>Have a look at our books and let us know what you think about it, and please share with us your favourite
                books. Have fun !
            </p>
    </div>
</div>


{% endblock %}